*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sageo UI, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbertop {
    height: 70px;
    width: 100%;
    margin: auto;
}

.navone {
    height: 70%;
    width: 100%;
    background-color: #eef0f2;
     display: flex;
     align-items: center;
     gap: 2px;
     
}
.logo {
    height: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.loge img{
    height: 50px;
    width: 70px;
    padding: 10px;

}

.head_location {
    height: 50px;
    width: 280px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #002f34;
    border-radius: 4px;
    justify-content: space-between;
    padding: 0px 10px;
    margin-left: -5px;
}
.head_location input{
    height: 40px;
    width: 240px;
    border: none;
    outline: none;
    padding-left: 8px;
    margin-top: -2px;
    font-size: 1.1rem;
}
.head_location i {
    color: #002f34;
    padding-top: 5px;
}
.location_down {
    font-size: 1.16rem;
}
.head_search {
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #002f34;
    border-radius: 4px;
    background-color: white;
    margin-left: 15px
}
.head_search input {
    height: 40px;
    width: 550px;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
}

.head_search i {
    height: 50px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002f34;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.3rem;
    color: white;
    margin-left: -6px;   
}
.lang {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color:#002f34;
    margin-left: 10px;
}
.lang p {
    font-weight: 600;   
}
.lang i {
    font-size: 1.7rem;
    padding-top: 5px;

}
.login {
    width: 50px;
    margin-left: 10px;

}
.login p{
    font-size: large;
    font-weight: 500;
    color: #002f34;
    border-bottom: 3px solid;
}
.selbtn{
    height: 45px;
    width: 110px;
    border-top: 5px solid #23e5db;
    border-bottom: 5px solid #3a77ff;
    border-left: 5px solid #ffce32;
    border-right: 5px solid #3a77ff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: larger;
    font-weight: 600;
    color: #002f34;
}
